<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Nuevo Usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-label>Nombre</ion-label>
    <ion-input type="text" [(ngModel)]="nombre"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Apellido</ion-label>
    <ion-input type="text" [(ngModel)]="apellido"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Cedula</ion-label>
    <ion-input type="text" [(ngModel)]="cedula" ></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Clave</ion-label>
    <ion-input type="text" [(ngModel)]="clave"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Correo</ion-label>
    <ion-input type="text" [(ngModel)]="correo"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Fecha de Nacimiento</ion-label>
    <ion-input type="text" [(ngModel)]="fecha_nacimiento"></ion-input>
  </ion-item>

  <ion-item>
    <ion-button color="success" (click)="nuevoUsu()">Guardar</ion-button>
  </ion-item>
</ion-content>
