.titulos {
  margin-top: 50px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 50px;
  color: bisque;
  text-align: center;
}

.subtitulo {
  margin-top: 30px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  color: bisque;
  text-align: center;
}

.interactive-span {
  cursor: pointer;
}
